@if (Movie is not null)
{
    <h2>@Movie.Title</h2>
    <h4>@Movie.Director</h4>
    <h4>@Movie.Plot</h4>
    <h4 style="font-weight: bold">@(Movie.Actors.Replace(", ", " | "))</h4>
    <a href="@($"https://www.imdb.com/title/{Movie.imdbID}/")"><img src="@($"https://img.omdbapi.com/?apikey=86c39163&i={@Movie.imdbID}")" /></a>
}
