@page "/search"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications
@using HPCTech2023FavoriteMovie.Shared

<label>Search</label>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-3">
            <input type="text" class="form-control" @bind="@searchTerm" />
        </div>
        <div class="col-1">
            <button class="btn btn-primary" @onclick="SearchOMDB" >Search</button>
        </div>
    </div>
</div>
@if (OMDBMovies is not null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <SfPager @ref="Page" PageSize="10" TotalItemsCount="@totalItems" ItemClick="PageClick">
                </SfPager>
                <SfGrid     DataSource="OMDBMovies" 
                            TValue="MovieSearchResultItem"
                            @ref="movieGrid"
                            Toolbar="@(new List<object>() { new ItemModel() { Text = "Add Movie", PrefixIcon="e-add", Id="GridMovieAdd"}})">
                    <GridSelectionSettings Type="SelectionType.Multiple" />
                    <GridEvents RowSelected="GetSelectedRows"
                                OnToolbarClick="ToolbarClickHandler"
                                TValue="MovieSearchResultItem"></GridEvents>
                    <GridColumns>
                        <GridColumn Field="Title" HeaderText="Movie Title" Width="200"></GridColumn>
                        <GridColumn Field="Year" HeaderText="Year Released" Width="100"></GridColumn>
                        <GridColumn Field="Type" HeaderText="Movie/Series/Episode" Width="100"></GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
}

<SfToast    @ref="ToastObj"
            Content="@toastContent"
            ShowCloseButton="true"
            ShowProgressBar="true"
            CssClass="@toastSuccess"
            Timeout="3000">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>
            