@page "/search"
@using Microsoft.AspNetCore.Components.QuickGrid

<label>Search</label>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-3">
            <input type="text" class="form-control" @bind="@searchTerm" />
        </div>
        <div class="col-1">
            <button class="btn btn-primary" @onclick="SearchOMDB" >Search</button>
        </div>
    </div>
</div>
@if (movieResult is not null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <QuickGrid Items="movies">
                    <PropertyColumn Property="@(m => m.Title)" />
                    <PropertyColumn Property="@(m => m.Year)" />
                </QuickGrid>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <button @onclick="PreviousPage">&lt;</button>
            </div>
            <div class="col-md-4">
                Page: @pageNum
            </div>
            <div class="col-md-1">
                <button @onclick="NextPage">&gt;</button>
            </div>
        </div>
    </div>
}

@*@if (movieResult is not null) {
    <ul>
        @foreach (var result in movieResult.Search)
        {
            <li>@result.Title (@result.Year)</li>
        }
    </ul>
}*@